/* ensure all pages have Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #dbdbdb;
}

.btn-generic {
  background-color: rgba(240, 1, 1, 0.534);
  color: white;
}
